@use '../abstract/_colours.scss';
@use '../abstract/_mixins.scss';
@use '../themes/_theme.scss';




.limitaion {
    width: 100vw;
    height: 100vh;
    @include mixins.flex-column;
    background-color: var(--primary);

    #field {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        background-color: var(--primary);
    }
}

.card {
    padding: 0px;
    height: 120px;
    width: 120px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        transform-style: preserve-3d;
        border-radius: 15px;
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
    }

    // &__face {
    //     position: absolute;
    //     inset: 0;
    //     background-color: colours.$color-pink;
    //     backface-visibility: hidden;
    //     border-radius: 15px;
    //     box-shadow:
    //         inset 2px -10px 30px colours.$color-anthra;

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        border-radius: 15px;


        &--back {
            transform: rotateY(180deg);
            background-color: colours.$color-anthra;
            border-radius: 15px;
        }

        .card__image {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);

    }


}