@use '../abstract/mixins.scss';
@use '../abstract/_colours.scss';
@use '../pages/gameconfigpage';
 @import '../abstract/fonts.scss';

.button__exit {
    @include mixins.flex-center;
    background-color: colours.$color-buttonFilling;
    border: 1px solid colours.$color-buttonFrame;

    gap: 10px;
    width: 207px;
    height: 62px;

    &--image {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
}

.link__exit {
    text-decoration: none;
    color: colours.$color-white;
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
}

.start-screen__btn {
    width: 250px;
    height: 78px;
    margin-top: 64px;
    background-color: colours.$color-yellow;
    @include mixins.flex-center;
    padding: 24px;
    gap: 20px;

    &:hover{
        cursor: pointer;
    }

    &--text{
        font-size: 40px;
        font-weight: 700;
    }

    &--imgC{
        width: 44px;
        height: 32px;
    }

    &--imgA{
        width: 33px;
    }
}

.config-screen__image--btn{
    @include mixins.flex-center;
    width: 126px;
    height: 53px;
    background-color: colours.$color-yellow;
}