@use '../abstract/mixins.scss';
@use '../abstract/_colours.scss';
@use '../pages/_gameconfigpage.scss';
@use '../themes/_theme.scss';
@import '../abstract/fonts.scss';

.button__exit {
    @include mixins.flex-center;
    background: var(--buttonExit);
    border: var(--buttonBorder);
    border-radius: var(--buttonRadius);


    gap: 10px;
    width: 207px;
    height: 62px;

    &--image {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
}

.link__exit {
    text-decoration: none;
    color: var(--fontColor);
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
}

.start-screen__btn {
    width: 250px;
    height: 78px;
    margin-top: 64px;
    background-color: colours.$color-yellow;
    @include mixins.flex-center;
    padding: 24px;
    gap: 20px;

    &:hover {
        cursor: pointer;
    }

    &--text {
        font-size: 40px;
        font-weight: 700;
    }

    &--imgC {
        width: 44px;
        height: 32px;
    }

    &--imgA {
        width: 33px;
    }
}

.config-screen__image--btn {
    @include mixins.flex-center;
    width: 126px;
    height: 53px;
    background-color: colours.$color-yellow;
    gap: 8px;
    cursor: pointer;
    font-weight: bold;

}

// pop-up
.exit__buttons {
    @include mixins.flex-center;
    gap: 24px;
    margin-top: 64px;


    &--btnGame {
        background-color: var(--backgroundButtonGame);
        border: var(--buttonBorder);
        border-radius: var(--buttonRadius);
        box-shadow: 3px 3px 5px 0px var(--dropShadow);
        color: var(--popUpGameButtonText);

        width: var(--popUpGameButtonWidth);
        height: var(--popUpGameButtonHeight);

        font-weight: 700;
        cursor: pointer;
    }

    &--btnExit {


        background-color: var(--popUpExitButtonfilling);
        border: var(--buttonBorder);
        border-radius: var(--buttonRadius);
        box-shadow: 3px 3px 5px 0px var(--dropShadow);
        color: var(--popUpExitButtonText);

        width: var(--popUpExitButtonWidth);
        height: var(--popUpExitButtonHeight);

        font-weight: 700;
        cursor: pointer;
    }

}