$codeVibes-primaryDark: rgb(48, 49, 49);
$codeVibes-primaryDarkOpacity: rgba(48, 49, 49, 0.5);
$color-pink: rgba(237, 27, 118, 1);
$color-anthra: rgba(10, 40, 53, 1);
$color-white: rgba(255, 255, 255, 1);
$color-lightGrey: rgba(246, 246, 246, 1);
$color-buttonFrame: rgba(77, 213, 188, 1);
$color-skyBlue: rgba(43, 177, 255, 1);
$codeVibes-buttonFilling: rgba(134, 233, 214, 0.2);
$color-orange: rgba(245, 142, 57, 1);
$color-yellow: rgba(240, 234, 110, 1);

$daProject-petrol: rgb(255, 255, 255);
$daProject-buttonFilling: rgba(191, 229, 242, 1);
$daProject-header: rgba(240, 243, 244, 1);
$daProject-darkPetrol: rgba(30, 117, 148, 1);
$daProject-darkPetrolOpacity: rgba(30, 117, 148, 0.5);
$daProject-lightBlue: rgba(240, 246, 249, 1)
