@use '../themes/_theme.scss';
@use '../abstract/_mixins.scss';

.exit-screen {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--primaryOpacity);
    z-index: 1;
    @include mixins.flex-center;
}

.exit__content {
    background-color: var(--backgroundExit);
    width: 456px;
    height: 253px;
    border-radius: 20px;
    padding: 40px;


    &--text {
        text-align: center;
    }
}

.exit__buttons {
    @include mixins.flex-center;
    gap: 40px;

    &--btnGame {
        background-color: red;
        width: var(--popUpGameButtonWidth) ;
        height: var(--popUpGameButtonHeight) ;

    }

    &--btnExit {
        background-color: var(--buttonExit);
        border: var(--buttonBorder);
        border-radius: var(--buttonRadius);
        box-shadow:3px 3px 5px 0px var(--dropShadow);
        width: var(--popUpExitButtonWidth) ;
        height: var(--popUpExitButtonHeight) ;
    }
}
