@use '../themes/_theme.scss';
@use '../abstract/_mixins.scss';

.exit-screen {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--primaryOpacity);
    z-index: 1;
    @include mixins.flex-center;
}

.exit__content {
    background-color: var(--backgroundExit);
    width: 456px;
    height: 253px;
    border-radius: 20px;
    padding: 40px;
    font-weight: 700;


    &--text {
        text-align: center;

        p {
            font-size: 28px;
            line-height: 40px;
            color: var(--popUpText);

        }
    }
}