@use '../abstract/_colours.scss';

.theme-codeVibes {
  --primary: #{colours.$codeVibes-primaryDark};
  --primaryBackground: #{colours.$codeVibes-primaryDark};
  --primaryOpacity: #{colours.$codeVibes-primaryDarkOpacity};
  --headerBackground: #{colours.$codeVibes-primaryDark};
  --buttonExit: #{colours.$codeVibes-buttonFilling};

  --fontColor: #{colours.$color-white};
  --playerBackground: #{colours.$codeVibes-buttonFilling};

  --buttonBorder: 1px solid #{colours.$color-buttonFrame};
  --buttonRadius: 0px;

  --backgroundExit: #{colours.$color-white};

  --dropShadow: #{none};

  --popUpGameButtonHeight: #{57px};
  --popUpGameButtonWidth: #{182px};
  --backgroundButtonGame: #{colours.$color-buttonFrame};
  --popUpGameButtonText: #{colours.$color-white};

  --popUpExitButtonHeight: #{57px};
  --popUpExitButtonWidth: #{148px};
  --popUpExitButtonfilling: #{colours.$color-buttonFilling};
  --popUpExitButtonText: #{colours.$color-buttonFrame};

  --popUpText: #{colours.$codeVibes-primaryDark};

  --gameOverheadline: #{colours.$color-pink};
  --gameOverScoreWidth: #{324px};
  --gameOverScoreHeight: #{62px};
  --gameOverScoreBoard: #{colours.$daProject-buttonFilling};

  --gameWinnerButtonWidht: #{204px};
  --gameWinnerButtonheight: #{62px};
  --gameWinnerButtonTextSize: #{24px};
  --gameWinnerHeadlindColor: #{colours.$color-orange};

  --fontFamily: #{'Red Rose'};
}

// Hell
.theme-daPproject {
  --primary: #{colours.$daProject-petrol};
  --primaryBackground: #{colours.$color-white};
  --primaryOpacity: #{colours.$daProject-darkPetrolOpacity};
  --buttonExit: #{colours.$daProject-buttonFilling};
  --headerBackground: #{colours.$daProject-header};

  --fontColor: #{colours.$daProject-darkPetrol};
  --playerBackground: #{colours.$color-white};

  --buttonBorder: 1px solid #{colours.$daProject-buttonFilling};
  --buttonRadius: 8px;

  --backgroundExit: #{colours.$daProject-lightBlue};

  --dropShadow: #{rgba(47, 46, 46, 0.2)};

  --popUpGameButtonHeight: #{43px};
  --popUpGameButtonWidth: #{140px};
  --backgroundButtonGame: #{colours.$daProject-buttonFilling};
  --popUpGameButtonText: #{colours.$daProject-darkPetrol};

  --popUpExitButtonHeight: #{43px};
  --popUpExitButtonWidth: #{114px};
  --popUpExitButtonfilling: #{rgba(253, 138, 129, 1)};
  --popUpExitButtonText: #{colours.$color-white};

  --popUpText: #{colours.$daProject-superDrakPetrol};

  --gameOverheadline: #{colours.$daProject-orange};
  --gameOverScoreWidth: #{220px};
  --gameOverScoreHeight: #{76px};
  --gameOverScoreBoard: #{colours.$color-white};

  --gameWinnerButtonWidht: #{96px};
  --gameWinnerButtonheight: #{48px};
  --gameWinnerButtonTextSize: #{20px};
  --gameWinnerHeadlindColor: #{colours.$color-white};

  --fontFamily: #{'Figtree'};
}