@use './layout/_card.scss';
@use './abstract/_colours.scss';
@use './pages/_gameheader.scss';
@use './components/buttons.scss';
@use './pages/_gamestartpage.scss';
@use './pages/_gameoverpage.scss';
@use './pages/_gameconfigpage.scss';
@use './themes/_theme.scss';
@use './pages/_gameexitpage.scss';
@import './abstract/fonts.scss';




body {
    height: 100vh;
    background: colours.$codeVibes-primaryDark;
    margin: 0;
    // margin-top: 30px;
    font-family: 'Red Rose', cursive;
}

.hidden {
    display: none;
}

